# ðŸ§µ Python Strings â€” The Complete Guide

In Python, a **string** is a sequence of Unicode characters enclosed in single `'` or double `"` quotes.

```python
name = "Suhas"
```

---

## ðŸ“Œ Basic Properties

* **Immutable**: You canâ€™t change characters once the string is created.
* **Indexable**: You can access characters via indexing (`s[0]`)
* **Iterable**: You can loop through them

---

## ðŸ”¹ String Creation

```python
str1 = 'Hello'
str2 = "World"
str3 = '''Multiline
String'''
```

---

## ðŸ”¹ Accessing Characters

```python
word = "Python"
print(word[0])   # P
print(word[-1])  # n (last char)
```

---

## ðŸ”¹ String Slicing

```python
s = "DataScience"
print(s[0:4])    # Data
print(s[4:])     # Science
print(s[:4])     # Data
print(s[::-1])   # Reverse string
```

---

## ðŸ”¹ String Methods (Most Useful)

| Category       | Method/Use                               | Example                               |
| -------------- | ---------------------------------------- | ------------------------------------- |
| **Case**       | `.lower()`, `.upper()`, `.title()`       | `"suhas".title()` â†’ `'Suhas'`         |
| **Search**     | `.find()`, `.index()`                    | `"hello".find("e")` â†’ `1`             |
| **Replace**    | `.replace(old, new)`                     | `"aabb".replace("a", "x")` â†’ `'xxbb'` |
| **Split/Join** | `.split()`, `' '.join(list)`             | `"a,b".split(',')` â†’ `['a', 'b']`     |
| **Check**      | `.startswith()`, `.endswith()`           | `"AI".startswith("A")` â†’ `True`       |
| **Count**      | `.count(char)`                           | `"hello".count("l")` â†’ `2`            |
| **Whitespace** | `.strip()`, `.lstrip()`, `.rstrip()`     | `" hello ".strip()` â†’ `'hello'`       |
| **Is Check**   | `.isdigit()`, `.isalpha()`, `.isspace()` | `"123".isdigit()` â†’ `True`            |

---

## ðŸ”¹ String Formatting

### 1. `f-strings` (modern & preferred)

```python
name = "Suhas"
print(f"Hello, {name}!")
```

### 2. `.format()` method

```python
print("Hello, {}".format(name))
```

### 3. `%` operator (old)

```python
print("Hello, %s" % name)
```

---

## ðŸ”¹ Escape Characters

| Symbol | Meaning      |
| ------ | ------------ |
| `\n`   | Newline      |
| `\t`   | Tab          |
| `\'`   | Single quote |
| `\\`   | Backslash    |

```python
print("Line1\nLine2")
```

---

## ðŸ”¹ String Comparisons

```python
s1 = "apple"
s2 = "banana"
print(s1 == s2)   # False
print(s1 < s2)    # True (lexicographic order)
```

---

## ðŸ”¹ Looping Through a String

```python
for char in "Suhas":
    print(char)
```

---

## ðŸ§  String Use-Cases in Data Science

* **Cleaning text** (NLP)
* **Parsing and formatting data**
* **Log and pattern analysis**
* **Feature engineering from text**

## ðŸ§ª Quick Challenges (Try These):

In [1]:
#1. Write a function to reverse a string
def rev_string(s):
  return s[::-1]

s = input("Enter a string to reverse :- ")
print(rev_string(s))

Enter a string to reverse :- Suhas
sahuS

In [4]:
# 2. Count vowels in a string
st = input("Enter a string to count vowels :- ")
count = 0

for char in st:
  if char in 'aeiouAEIOU':
    count +=1

print("Numbar of vowels in  = {}".format(count))

Enter a string to count vowels :- sujit kolekar
Numbar of vowels in  = 5

In [5]:
# 3. Replace all spaces in a sentence with hyphens

st1 = input("Enter a sentence to replace spaces with hypens :- ")

st2 = st1.replace(" ", "_")

print(st2)

Enter a sentence to replace spaces with hypens :- Suhas Sadashiv Kolekar
Suhas_Sadashiv_Kolekar

In [7]:
# 4. Check if a string is a palindrome

st2 = input("Enter a string to check Palindrome.")

if st2 == st2[::-1]:
  print("Palindrome.")
else:
  print("Not_Palindrome.")

Enter a string to check Palindrome.Suhas
Not_Palindrome.

In [8]:
# 5. Capitalize the first letter of every word

st3 = input("Enter a sentence to capitalize first letter of every word :- ")

st4 = st3.title()

print(st4)

Enter a sentence to capitalize first letter of every word :- suhas sadashiv kolekar
Suhas Sadashiv Kolekar

# ðŸ§± Python Lists â€” Complete Guide

A **list** is an **ordered, mutable collection** that can store **heterogeneous data types** (strings, numbers, even other lists).

```python
my_list = [10, "Suhas", 3.14, True]
```

---

## ðŸ”¹ Key Properties

| Property      | Description                   |
| ------------- | ----------------------------- |
| **Ordered**   | Maintains insertion order     |
| **Mutable**   | Can be changed after creation |
| **Indexable** | Access using index `[i]`      |
| **Nested**    | Can contain other lists       |

---

## ðŸ”¸ Creating Lists

```python
empty = []
nums = [1, 2, 3, 4]
words = ["Data", "Science", "AI"]
nested = [1, [2, 3], 4]
```

---

## ðŸ”¸ Indexing & Slicing

```python
a = [10, 20, 30, 40, 50]
print(a[0])     # 10
print(a[-1])    # 50
print(a[1:4])   # [20, 30, 40]
print(a[::-1])  # Reverse: [50, 40, 30, 20, 10]
```

---

## ðŸ”¸ List Methods (ðŸ”¥ Must-Know ðŸ”¥)

| Method         | Description                    |
| -------------- | ------------------------------ |
| `append(x)`    | Add item to end                |
| `insert(i, x)` | Add item at index `i`          |
| `extend(list)` | Add elements of another list   |
| `remove(x)`    | Remove first occurrence of `x` |
| `pop(i)`       | Remove & return item at `i`    |
| `clear()`      | Remove all elements            |
| `index(x)`     | Find first index of `x`        |
| `count(x)`     | Count occurrences of `x`       |
| `sort()`       | Sort list in place             |
| `reverse()`    | Reverse the list in place      |
| `copy()`       | Shallow copy of list           |

---

### ðŸ”„ Example:

```python
fruits = ["apple", "banana"]
fruits.append("orange")     # ['apple', 'banana', 'orange']
fruits.insert(1, "kiwi")    # ['apple', 'kiwi', 'banana', 'orange']
fruits.pop()                # Removes 'orange'
```

---

## ðŸ”¹ `in` and `not in` (Membership Operators)

```python
nums = [1, 2, 3]
print(2 in nums)      # True
print(5 not in nums)  # True
```

---

## ðŸ”¹ Iterating Over a List

```python
for item in [10, 20, 30]:
    print(item)
```

---

## ðŸ”¹ List Comprehension (ðŸ’Ž Advanced & Powerful)

```python
squares = [x**2 for x in range(1, 6)]
# Output: [1, 4, 9, 16, 25]
```

### With Condition:

```python
even = [x for x in range(10) if x % 2 == 0]
```

---

## ðŸ”¹ Nested Lists

```python
matrix = [[1, 2], [3, 4]]
print(matrix[0][1])  # 2
```

---

## ðŸ§  Use Cases in Data Science

* Storing dataset rows before converting to DataFrame
* Feature vectors in ML preprocessing
* Intermediate data during parsing/cleaning
* Easy container for JSON-like structures

## ðŸ§ª Quick Challenges:

In [10]:
#1. Create a list with 5 elements, add and remove two.
l1 = [1,2,3,4,5]
l1.append(6)
l1.remove(2)
l1.append(8)
l1.remove(4)

print(l1)

[1, 3, 5, 6, 8]

In [11]:
# 2. Sort a list of numbers descending
l2 = [5,6,5,8,5,3,9,1,6,2,8]

l2.sort(reverse = True)

print(l2)

[9, 8, 8, 6, 6, 5, 5, 5, 3, 2, 1]

In [12]:
# 3. Count how many times a number appears
l3 = [5,6,5,8,5,3,9,1,6,2,8]

print(l3.count(5))

3

In [13]:
# 4. Create a list of cubes using list comprehension
l4 = [i**3 for i in [1,2,3,4,5,6,7,8,9]]

print(l4)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [14]:
# 5. Reverse a list without using `.reverse()`
l5 = [1,2,3,4,5,6,7,8,9]

rev_l5 = l5[::-1]

print(rev_l5)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# ðŸª¢ Python Tuples â€” The Complete Guide

A **tuple** is an **ordered, immutable** collection of values. You can think of it as a **read-only list**.

```python
t = (1, 2, 3)
```

---

## ðŸ”¹ Key Properties of Tuples

| Property              | Description                      |
| --------------------- | -------------------------------- |
| **Ordered**           | Maintains the order of elements  |
| **Immutable**         | Cannot be changed after creation |
| **Indexable**         | Access elements using index      |
| **Allows Duplicates** | Yes                              |
| **Can Be Nested**     | Yes                              |

---

## ðŸ”¸ Creating Tuples

```python
t1 = (1, 2, 3)
t2 = ("Suhas", True, 3.14)
t3 = (1,)            # âœ… Single-element tuple needs comma
t4 = tuple([1, 2])   # From a list
```

---

## ðŸ”¸ Accessing Elements

```python
t = (10, 20, 30, 40)
print(t[0])     # 10
print(t[-1])    # 40
print(t[1:3])   # (20, 30)
```

---

## ðŸ”¸ Tuple Operations

### âœ… Concatenation & Repetition

```python
a = (1, 2)
b = (3, 4)
print(a + b)       # (1, 2, 3, 4)
print(a * 2)       # (1, 2, 1, 2)
```

---

### âœ… Membership Test

```python
t = (1, 2, 3)
print(2 in t)      # True
```

---

### âœ… Looping Through Tuples

```python
for val in ("Python", "AI"):
    print(val)
```

---

## ðŸ”¸ Tuple Methods

Tuples have **only two built-in methods**:

| Method      | Description                             |
| ----------- | --------------------------------------- |
| `.count(x)` | Returns the number of times `x` appears |
| `.index(x)` | Returns the first index of `x`          |

```python
t = (1, 2, 3, 2)
print(t.count(2))   # 2
print(t.index(3))   # 2
```

---

## ðŸ”¹ Tuple Unpacking (ðŸ”¥ Very Important ðŸ”¥)

```python
person = ("Suhas", 24, "Mumbai")
name, age, city = person
print(name)   # Suhas
```

---

## ðŸ”¹ Nested Tuples

```python
nested = ((1, 2), (3, 4))
print(nested[1][0])   # 3
```

---

## ðŸ”¹ When to Use Tuples vs Lists?

| Use Case           | Use Tuple When...           | Use List When...               |
| ------------------ | --------------------------- | ------------------------------ |
| Data is Fixed      | You don't want it to change | You want to add/remove items   |
| As Dictionary Keys | You want immutability       | âŒ Lists can't be keys in dicts |
| Performance        | Tuples use less memory      | Lists are more flexible        |

---

## ðŸ§  Use-Cases in Data Science

* Holding **coordinate points** (x, y)
* Returning **multiple values** from a function
* Storing **feature-label pairs**
* Used in **hashable contexts** (like dictionary keys or sets)

## ðŸ§ª Mini-Challenges:

In [15]:
# 1. Create a tuple of 5 elements

t1 = (1,2,3,4,5)

In [19]:
#2. Try modifying one element â€” see what happens

t2 = (4,5,6,7,8,9)

t2[2] = 40

TypeError: 'tuple' object does not support item assignment

In [20]:
# 3. Count how many times a value appears

t3 = (1,2,3,6,2,5,3,2,6,2)

t3.count(6)

2

In [21]:
# 4. Concatenate two tuples

t4 = (1,2,3,4,5)
t5 = (6,7,8,9,10)

can_t = t4+t5
print(can_t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
# 5. Unpack a tuple into 3 variables

t6 = ("suhas", 24, "CDAC", True)

name,age,college,employee = t6

print(name)
print(age)
print(college)
print(employee)

suhas
24
CDAC
True